/* code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;} */

:root {

	--primary: #55aa22;
	--accent: #33aaff;
}

nav a:hover {
	background: white;
	font-style: normal;
}

a:hover {
	color: var(--accent);
	font-style: italic;
	text-decoration: none;
}

a {
	color: var(--primary);
}

.button {
	white-space:nowrap;
}

.navlink {
	display: inline-block;
}

.icon {
	display: inline-block;
}

nav {
	background: var(--primary);
	display: flex;
	padding: 10px;
	color: white;
}

nav a {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

hr {
    border: none;
	width: 100%;
	height: 1px;
	background-color: white;
	margin-top: 3px;
	margin-bottom: 3px;
	opacity: 0.5;
}

main {
	text-align: center;
	width: 100%;
}

body {
	margin: 0px;
	font-family: Sans-Serif;
}

.center {
	display: inline-block;
	margin: 40px;
	max-width: 700px;
	/* text-align: justify; */
	text-align: left;
}

@media (max-width: 900px) {
	nav {
		justify-content: space-around;
		/* flex-flow: row wrap; */
	}

	nav a {
		flex: 1 auto;
		display: flex;
		padding: auto;
		justify-content: space-around;

		font-size: 20px;
	}

	nav h1 {
		display: none;
	}

	nav hr {
		height: 40px;
		width: 1px;
		margin-left: 3px;
		margin-right: 3px;
		/* height: 100%; */
	}

	h1 + hr {
		display: none;
	}

	hr:last-child {
		display: none;
	}
}

@media (min-width: 901px) {
	.wrapper {
		display: flex;
	}

	.button {
		margin: 0px;
	}

	nav {
		/* flex: 0 auto;
		height: 100vh;
		top: 0px; */
		/* position: relative; */
		/* display: sticky; */
		min-height: 100vh;
		min-width: 200px;
		flex-direction: column; /*
		justify-content: flex-start;
		padding-bottom: 100vh; */
	}
}

